.container {
	width: 90%;
	padding: 0px;
}
form .btn {
	width: 100%;	
}
.login {
	margin-left: auto;
	margin-right: auto;
}
.login h1 {
	text-align:center;
}
.footer {
	text-align:center;
	width: 90%;
	position: fixed;
    bottom: 0;    
    height: 40px;
    background-color: #ececec;
}
#comand_pag {
	float: right;
}
.row {
	margin-bottom: 40px;
}
.imgTable {
	max-width: 100px;
}
.imgForm {
	max-width: 400px;
}